# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python
name: Python application test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run creditcard_bankaccount_issues and generate output
      run: |
        creditcard_bankaccount_issues.py

    - name: Commit and push if there's a new output
      run: |
        git config --local user.email "tbxbush@gmail.com"
        git config --local user.name "lingeshperakasam"
        git add -f output.png
        git commit -m "Add generated output file" || exit 0   
        git push --set-upstream origin main -o "Authorization: Bearer ${{ secrets.QS_1 }}"
